ul li{
    color:darkblue;
}
#mainPic{
    width: 700px;
    height: 300px;
}
#name1{
    color:darkslategray
}
#phone{
    color:darkslategray
}
#email{
    color: darkslategray;
}
#button1{
    color:orange;
}
#footer{
    color:black;
    size:15px; 
}
#aside{
    background-color: cornflowerblue;
}
#veggie{
    height: 200px;
    width: 200px;
}
#disaster{
    height: 200px;
    width: 200px;
}