.daddy {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row; /*with this option i can move the row into a column*/
    /*justify-content: space-evenly;*/ /*with this one the space around is equal on ever square*/
    align-items: center;
    flex-wrap: wrap;
    /*align-content: center;*/
    flex-flow: row;/*flex direction + wrap in one line*/
}
.baby1 {
    background-color: crimson;
    width: 500px;
    height: 250px;
    align-self: flex-end;
    order:4;
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;*/
}
.baby2 {
    background-color:yellow;
    width: 250px;
    height: 250px;
    order:2;
    flex: 1 1 22%;/*with only flex, we can add 3 values: grow, shrink and basis- following that order*/
}
.baby3 {
    background:radial-gradient(blue,purple,pink,orange);
    width: 250px;
    height: 250px;
    order:3;
    flex:1;
}
.baby4 {
    background-color:pink;
    width: 250px;
    height: 250px;
    order:3;
    flex:1;
    background: linear-gradient(pink,yellow,red);
}
.page-layout {
    width:100vw ;
    height: 100vh;
    display: flex;
}

nav{
    width: 25%;
}
.main{
    display:flex; 
    background-color: salmon;
    flex-direction: column-reverse;
}
section{
    border:2px solid black;
}
.text-one {
    flex:1;
}
#img:hoover{
    filter: grayscale(0%);
    transform: scale(1.1);

}